@charset "utf-8";
html,button,body,div,h1,h2,h3,h4,p,ul,ol,li,table,td,tr,img,dl,dt,dd{
	padding: 0;
	margin:0;
	border:0;
}
img{border:0;}
li{list-style: none;}
table{border-collapse: collapse;}
html{
	width: 100%;
	height: 100%;
}
body{
	font-family: '微软雅黑', '宋体', Arial, Helvetica, Tahoma, Helvetica, serif;
	color:#fff;
	font-size:.16rem;
	background-color:#371a85;
}
h2 img{display: block;}
a{text-decoration:none; }
a:hover { text-decoration:none;}
.clearfix:after {clear:both; display:block; visibility:hidden; overflow:hidden; height:0!important; line-height:0; content:".";*zoom:1;}
.clear {clear:both;}
.ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
img{
	display: block;
}
.imgBox{
	text-align: center;
}
.abM {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.middle{
	margin:0 auto;
}

.show {
	display: block;
}
.hidden {
	display: none;
}

.content{
	position: relative;
	width: 100%;
	height: 13.34rem;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

/*********************************loading**********************************/
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: black;
}

.loader {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	height: 100%;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.ball-triangle-path {
	position: relative;
	-webkit-transform: translate(-29.99px, -37.51px);
	transform: translate(-29.99px, -37.51px);
}

.ball-triangle-path > div {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: 1px solid #f8de99;
}

.ball-triangle-path > div:nth-child(1),
.ball-triangle-path > div:nth-child(2) {
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-child(1) {
	-webkit-animation-name: ball-triangle-path-1;
	animation-name: ball-triangle-path-1;
	-webkit-animation-delay: 0;
	animation-delay: 0;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-child(2) {
	-webkit-animation-name: ball-triangle-path-2;
	animation-name: ball-triangle-path-2;
	-webkit-animation-delay: 0;
	animation-delay: 0;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-child(3) {
	-webkit-animation-name: ball-triangle-path-3;
	animation-name: ball-triangle-path-3;
	-webkit-animation-delay: 0;
	animation-delay: 0;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.ball-triangle-path > div:nth-of-type(1) {
	top: 50px;
}

.ball-triangle-path > div:nth-of-type(2) {
	left: 25px;
}

.ball-triangle-path > div:nth-of-type(3) {
	top: 50px;
	left: 50px;
}

@-webkit-keyframes ball-triangle-path-1 {
	33% {
		-webkit-transform: translate(25px, -50px);
		transform: translate(25px, -50px);
	}
	66% {
		-webkit-transform: translate(50px, 0);
		transform: translate(50px, 0);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes ball-triangle-path-1 {
	33% {
		-webkit-transform: translate(25px, -50px);
		transform: translate(25px, -50px);
	}
	66% {
		-webkit-transform: translate(50px, 0);
		transform: translate(50px, 0);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-webkit-keyframes ball-triangle-path-2 {
	33% {
		-webkit-transform: translate(25px, 50px);
		transform: translate(25px, 50px);
	}
	66% {
		-webkit-transform: translate(-25px, 50px);
		transform: translate(-25px, 50px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes ball-triangle-path-2 {
	33% {
		-webkit-transform: translate(25px, 50px);
		transform: translate(25px, 50px);
	}
	66% {
		-webkit-transform: translate(-25px, 50px);
		transform: translate(-25px, 50px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@-webkit-keyframes ball-triangle-path-3 {
	33% {
		-webkit-transform: translate(-50px, 0);
		transform: translate(-50px, 0);
	}
	66% {
		-webkit-transform: translate(-25px, -50px);
		transform: translate(-25px, -50px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes ball-triangle-path-3 {
	33% {
		-webkit-transform: translate(-50px, 0);
		transform: translate(-50px, 0);
	}
	66% {
		-webkit-transform: translate(-25px, -50px);
		transform: translate(-25px, -50px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

/*游戏规则页*/
.award {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: black;
}

.award .award_container {
	top: 0;
	bottom: 0;
	width: 7.36rem;
	height: 74.78%;
	background: url("http://s0.ifengimg.com/2018/03/12/rulebg_4e89e32b.png") center/100% 100% no-repeat;
}

.award .award_container ul {
	width: 80%;
	height: 75%;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}

.award .award_container ul li {
	padding: 0 0.3rem;
}

.award .award_container ul li dl dt {
	font-size: 0.3rem;
}

.award .award_container ul li dl dd {
	font-size: 0.3rem;
	text-indent: 0.6rem;
}

.award .award_container ul li:first-child {
	margin-top: 0.6rem;
}

.award .award_container ul li:last-child {
	margin-bottom: 0.3rem;
}

.award .clsBtn {
	bottom: 8.1%;
	width: 0.8rem;
	height: 0.8rem;
	background: url("http://s0.ifengimg.com/2018/03/12/close_461c7e7b.png") center/100% 100% no-repeat;
}





/*开始页*/
.start{
	position: relative;
	/*height: 13.34rem;*/

}
 .head{
	padding: .4rem .3rem 0;
	height: .8rem;
}
 .head .headImg{
	float: left;
	background-image: url("../images/head.png");
	background-size: .8rem .8rem;
	background-repeat: no-repeat;
	width: .8rem;
	height: .8rem;

}
 .head .headImg img{
	margin-left: .04rem;
	margin-top: .04rem;
	width: .72rem;
	height: .72rem;
	border-radius: .36rem;
}
.start .head   span{
	float: left;
	padding-left: .3rem;
	font-size: .32rem;
	line-height: .8rem;
}
.start .head .ifeng img{
	float: right;
	display: inline-block;
	width: 2.5rem;
	margin-top: .14rem;
}
.start .head .ifeng span{
	float: right;
	font-size: .28rem;
	line-height: .8rem;
	opacity: 0.7;
	padding-left: .2rem;
}
.start .brandLoge{
	position: absolute;
	top: 1.9rem;
	left: 50%;
	margin-left: -1.05rem;
}
.start .brandLoge img{
	width: 2.05rem;
}
.start .startBg img{
	width:100% ;
	margin: .5rem auto 0;
}
.startCon{
	margin : -1rem auto 0;
	text-align: center;
}
.startCon>span{
	display: block;
	font-size:.29rem ;
	color: #ffe57f;
	padding: 0 .8rem;
}
.startCon button{
	display: block;
	width: 4.4rem;
	height: 1rem;
	color: white;
	background-color: #ff407f;
	font-size:.48rem ;
	border-radius: 1rem;
	margin: 1.18rem auto 0;
}
.startCon .rules {
	float: right;
	margin: .7rem .2rem .6rem 0;

}
.startCon .rules img {
	width:.4rem ;
	display: inline-block;
	vertical-align: middle;
	margin-right: -.1rem;
}

.startCon .rules span {
	display: inline-block;
	width: 1.5rem;
	height: .4rem ;
	border-radius: .4rem;
	text-align: center;
	line-height: .4rem;
	font-size: .16rem;
	opacity: 0.7;
	background-color: rgba(0,0,0,.5);
}

/*答题页*/
.main .head .headTitle{
	float: left;
	padding-left: .3rem;
	font-size: .32rem;
}
.main .head .headTitle div{
	height: .26rem;
	width: .7rem;
	margin-top: .1rem;
	background-color: #ffcc4f;
	color: #6d4320;
	line-height: .26rem ;
	font-size: .09rem;
	border-radius: .05rem;
	text-align: center;
}
.main .question {
	width: 88.7%;
	height: 7rem;
	background-color: white;
	border-radius: .2rem;
	margin: .88rem auto 0;
	color:#333333;
	padding: .3rem .26rem;
	box-sizing: border-box;
}
.question .quesPage {
	color: #999999;
	float: left;
	font-size: .24rem;
}
.question .quesPage span{
	color: #a168b2;
}
.question .quesTime {
	overflow: hidden;
	height: 1.2rem;
}

.question .quesCon {
	font-size: .30rem;
	margin-top: .5rem;
}
.question .quesCon p {
	height: .8rem;
	padding:0 .1rem;
}
.question .quesCon ul {
	margin-top: .4rem;
}
.question .quesCon ul li {
	height: .9rem;
	border: .04rem solid #e3e3e3;
	border-radius: .9rem;
	margin-bottom: .3rem;
	line-height: .9rem;
	padding-left: .5rem;
}

.quesCon .options li.current {
	border: .04rem solid #c07cff;
}
.quesCon .options li.yes {
	border-color:#81d159 ;
	background: url("../images/yes.png")  no-repeat;
	background-size: .46rem .35rem;
	background-position: 5.25rem .35rem;
	background-color: #81d159;
}
.quesCon .options li.no{
	border-color:#ff576b ;
	background: url("../images/no.png") no-repeat;
	background-size: .32rem .32rem;
	background-position: 5.3rem .35rem;
	background-color: #ff576b;
}


.mainLoge{
	margin: 1.3rem auto 0;
	width: 5.7rem;


}
.mainLoge img{
	display: inline-block;
	margin-right: .26rem;
	vertical-align: middle;
}
.mainLoge  .img1{
	width: 2.04rem;

}
.mainLoge  .img2{
	width: .2rem;

}
.mainLoge  .img3{
	width: 2rem;
	margin-right: .2rem;
}
.mainLoge span {
	color: #dfdee4;
	font-size: .24rem;
}
/*答题结束页面*/
.scores {
	display: none;
	top: 8%;
	width: 100%;
	height: 74.79%;
	background: url("http://s0.ifengimg.com/2018/03/12/scoreResult_afe8605f.png") center/100% 100% no-repeat;
	text-align: center;
}

.scores h1 {
	font-size: 1.4rem;
	text-align: center;
	margin-top: 1.3rem;
	color: #ff407f;
}

.scores h1 small {
	font-size: 0.4rem;
	font-weight: bold;
	color: #4d405f;
}

.scores h2 {
	font-size: 0.6rem;
	text-align: center;
	margin-top: 0.1rem;
	color: #4d405f;
}

.scores p {
	display: inline-block;
	width: 80%;
	margin-top: 1rem;
	font-size: 0.3rem;
	color: #5d526d;
}

.scores .bestAd {
	display: none;
	width: 4rem;
	margin: 0 auto;
}

.scores .toAwd {
	display: block;
	margin: 0 auto;
	margin-top: 0.3rem;
	width: 2.8rem;
	height: 1rem;
	line-height: 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #ff407f;
	font-size: 0.34rem;
	letter-spacing: 0px;
	color: #ffffff;
}

/*分享页*/

.shareC {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 101;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 0.3rem;
	color: #fff;
}

.shareC img {
	width: 4.05rem;
	position: absolute;
	right: 0;
	top: 0;
}


/*倒计时圈*/
.ClassyCountdownDemo {
	max-width: 300px;
	width:calc(100%);
	display:block;
	margin-left: 35%;
}

.ClassyCountdown-wrapper > div {
	display: inline-block;
	position: relative;
	width: calc(25% - 20px);
}
.ClassyCountdown-wrapper {
	width: 300px;
}

.ClassyCountdown-wrapper .ClassyCountdown-value {
	width: 100%;
	line-height: 1em;
	font-size: 40px;
	font-weight: bold;
	color: #666666;
	position: absolute;
	top: 50%;
	text-align: center;
	display: block;
}

.awardSt, .challengeSt, .sharedSt {
    display: none;
}

.challengeStEd {
    color: #fff;
    background-color: #bbbbbb;
}

