<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>2018,挑战智商打开方式</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize=window.screen.width/7.5+'px';
    </script>
</head>
<body>
    <div class="content" >
        <div class="start "  >
            <div class="head">
                <div class="headImg">
                    <img src="../public/images/head-img.jpg">
                </div>
                <span>C阶</span>
                <div class="ifeng">
                    <span>策划</span>
                    <img src="../public/images/ifeng.png" alt="">
                </div>
            </div>
            <div class="brandLoge">
                <img src="../public/images/logo.png" alt="">
            </div>
            <div class="startBg">
                <img src="../public/images/start-bg.png">
            </div>
            <div class="startCon">
                <span>百科知识、生活常识、历史文学、诗歌对句、上知天文下知地理的你，快来接受挑战吧~~~</span>
                <button id="start">开始答题</button>
                <div class="rules">
                    <img src="../public/images/book.png" alt="">
                    <span>规则与奖品</span>
                </div>
            </div>
        </div>
        <div class="main hidden"  >
            <div class="head ">
                <div class="headImg">
                    <img src="../public/images/head-img.jpg">
                </div>
                <div class="headTitle">
                    <div>小学</div>
                    <span>C阶</span>
                </div>
            </div>
            <div class="question">
                <div class="quesPage"><span>1</span>/10</div>
                <div class="quesTime">
                    <span>32</span>
                </div>
                <div class="quesCon">
                    <p>我们把“丝绸之路经济带”和“21世纪海上丝绸之路”简称为？</p>
                    <ul class="options">
                        <li>一带一路</li>
                        <li>海上之路</li>
                        <li>丝绸之路</li>
                    </ul>
                </div>
            </div>
            <div class="mainLoge">
                <img class="img1" src="../public/images/logo.png" alt="">
                <img class="img2" src="../public/images/x.png" alt="">
                <img class="img3" src="../public/images/ifeng.png" alt="">
                <span>策划</span>
            </div>
        </div>
        <div class="over">

        </div>
    </div>
    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>