<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>2018,挑战智商打开方式</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize=window.screen.width/7.5+'px';
    </script>
</head>
<body>
    <div class="content" >
        <div class="start "  >
            <div class="head">
                <div class="headImg">
                    <img src="../public/images/head-img.jpg">
                </div>
                <span>C阶</span>
                <div class="ifeng">
                    <span>策划</span>
                    <img src="../public/images/ifeng.png" alt="">
                </div>
            </div>
            <div class="brandLoge">
                <img src="../public/images/logo.png" alt="">
            </div>
            <div class="startBg">
                <img src="../public/images/start-bg.png">
            </div>
            <div class="startCon">
                <span>百科知识、生活常识、历史文学、诗歌对句、上知天文下知地理的你，快来接受挑战吧~~~</span>
                <button id="start">开始答题</button>
                <div class="rules">
                    <img src="../public/images/book.png" alt="">
                    <span>规则与奖品</span>
                </div>
            </div>
        </div>
        <div class="main hidden "  >
            <div class="head ">
                <div class="headImg">
                    <img src="../public/images/head-img.jpg">
                </div>
                <div class="headTitle">
                    <div id="level">小学生</div>
                    <span>C阶</span>
                </div>
            </div>
            <div class="question  ">
                <div class="quesPage"><span>1</span>/10</div>
                <div class="quesTime">
                    <div id="countdown18" class="ClassyCountdownDemo"></div>
                </div>
                <!--<div class="countdown"></div>-->
                <div class="quesCon">
                    <p id="issue"></p>
                    <ul class="options" id="items">
                    </ul>
                </div>
            </div>
            <!--游戏结束页面-->
            <div class="over  hidden ">
                <img src="../public/images/overbg.png" alt="">
                <div class="overCon">
                    <p>恭喜您~</p>
                    <p>答对<span id="count"></span>道题~</p>
                    <p>成功晋级<span id="grade">大学生</span>~</p>
                </div>
                <button class="share">分享链接</button>

            </div>
            <div class="mainLoge">
                <img class="img1" src="../public/images/logo.png" alt="">
                <img class="img2" src="../public/images/x.png" alt="">
                <img class="img3" src="../public/images/ifeng.png" alt="">
                <span>策划</span>
            </div>
        </div>

    </div>
    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/js/index.js"></script>
    //倒计时圈插件
    <script src="../public/js/jquery.knob.js"></script>
    <script src="../public/js/jquery.throttle.js"></script>
    <script src="../public/js/jquery.classycountdown.js"></script>


    <script>
        queAndAns.init();


    </script>
</body>
</html>